.dispatch {
    &-create {
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 4fr;

    }
    &-tablist {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:  flex-start;
        align-self: flex-start;
        border-left: rem(2) solid map-get($silver-map, 300 );
        &__control {
            text-transform: capitalize;
            @extend %description-12;
            font-weight: 500;
            padding: rem(8) rem(2);
            color: map-get($silver-map, 200 );
            padding-left: rem(12);
            margin-left: rem(-1.8);
            transition: all .2s ease-in-out;
            border-left: rem(2) solid transparent;

            &.active {
                color: map-get($black-map, 200 );
                border-color: map-get($black-map, 300 );

            }
        }
    }
    &-content {
        height: 100%;
        padding-right: rem(72);
        overflow-y: scroll;

        &__header {
            background-color: $white;
            @extend %sticky;
            padding-bottom: rem(32);

            &-title {
                @extend %description-14;
                font-weight: 600;
            }
            &-description {
                @extend %description-10;
                color: map-get($black-map, 300 );
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        & button {
            align-self: flex-end;
            margin-top: rem(24);
            padding-left: rem(24);
            padding-right: rem(24);
        }
    }

    &-assignee{
        display: flex;
        flex-direction: column;
        height: 100%;
        .btn {
            margin-top: auto;
            align-self: flex-end;
            padding-left: rem(24);
            padding-right: rem(24);
        }
        &__list {
            display: block;

            li {
                display: inline-block;
                margin-right: rem(24);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        
        &__container {
            background-color: $ghost;
            width: rem(144);
            border-radius: rem(13);
            padding: rem(3);
            transition: background-color .25s ease-in-out;

            &.active {
                background-color: map-get($black-map, 100 ) ;
            }
        }
        &__main {
            height: rem(100);
            width: 100%;
            background-color: $white;
            border-radius: rem(10);
            @extend %center;
            @extend %description-14;
            font-weight: 600;

            &-logo {
                background-color: map-get($black-map, 100);
                padding: rem(3);
                color: $white
            }

        }

        &__bottom{
            @extend %center;
            padding: rem(10) 0;
        }

        &__button {
            @include border( map-get($black-map, 100 ),rem(5), rem(2));
            @extend %description-10;
            text-transform: uppercase;
            font-weight: 600;
            transition: color .2s ease-in-out;
            & > svg {
                display: inline-block;
                vertical-align: middle;
                margin-left: rem(8);
            }
            &.active {
                color: $white;
                cursor: default;
            }
        }

        &__help {
            @extend %description-12;
            font-weight: 600;
            margin-left: rem(8);
            &-section {
             display: flex;
             margin-top: rem(32);
             align-items: center;
            }
        }

        &__pickup {
            &-button {
                display: flex;
                align-items: center;
                align-self: flex-start;
                padding-left: 0;
                @extend %description-12;
                font-weight: 500;
                & svg {
                    display: inline;
                    margin-right: rem(8);
                }
            }

            &-actions {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: rem(24);
            }
    
            &-condition{
                display: flex;
                align-items: center;
                @include border( map-get($black-map, 300 ), rem(8), rem(2));
                @extend %description-12;
                font-weight: 500;
                margin-right: rem(6);
                padding: rem(4) rem(12);
                & svg {
                    display: inline;
                    margin-left: rem(4);
                }
            }
        }

        &-conditon {
            margin-top: rem(12);
            display: flex;
            &__button{
                color: $white;
                background-color: $snow;
                color: map-get($black-map, 200);
                border-radius: rem(12);
                @extend %description-12;
                font-weight: 600;
                padding: rem(4) rem(8);
                margin-right: rem(16);
                transition: all .25s ease-in-out;

                &.active {
                    background-color: map-get($black-map, 200);
                    color: $white;
                }

                &:first-child {
                    margin-left: rem(32);
                }
            }

            &__label{
                @extend %sr-only;
            }
            &__input {
                width: rem(68);
                @extend %description-12;
                padding: rem(4) rem(10);
                @include border( map-get($black-map, 300 ), rem(8), rem(1));
                margin-right: rem(8);
                margin-left: rem(32);
            }
        }

        &-modal {
            margin-top: rem(48);
        }
    }

    &-strategy{

        &__container {
            height: 100%;
            overflow-y: scroll;
            padding-right: rem(6);
            & .delivery__item {
                margin-bottom: rem(8);
            }
        }
        &__actions{
            .btn{
                width: 100%;
                margin-bottom: rem(12);
            }
            .btn--outlined {
                padding: rem(20) rem(12);
                border-color: map-get($silver-map, 300 );
            }
        }
        &__nav-btn {
            @include border(map-get($silver-map, 300 ), rem(9), rem(2));
            @extend %description-12;
            display: flex;
            align-items: center;
            padding: rem(6) rem(12);
            & svg {
                display: inline;
                width: rem(24);
                height: rem(24);
                margin-right: rem(8);
            }
        }

        &__selected-strategy{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include border(map-get($silver-map, 300 ), rem(9), rem(2));
            padding: rem(10) rem(12);
            margin-bottom: rem(18);
            @extend %description-12;
            font-weight: 600;
        }
    }
}